body{
	text-align:center;
	font:12.5px Arial;
	letter-spacing: 3px
}

html, body{
	height: 100%;
}

#introduction{
	text-align: center;
	color: white;
	min-height:100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Other/sky.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#projects{
	text-align: center;
	background-color: gray;
	color:black;
	height: 100%;
	background-color: white;
}

#experience{
	text-align: center;
	min-height:100%;
    color:black;
	background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../Other/paper_airplane.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#about{
	color:black;
	background-color: rgb(150, 190, 225);
}

#ending{
	background-color: black;
	color:white;
	height: 200px;
	font:bold 18px Arial;
	letter-spacing: .5px
}

h1{ /*this is for the main title*/
	font:bold 20px Arial;
	text-align: center;
	min-height: 400px;
	padding:10px 80px 30px 80px; top right bottom left
}

hr.line{
	width: 80px;
	border: 1px solid rgb(0, 0, 0);
}

.glyphicon.glyphicon-plane{
	margin-top: 45px;
	margin-bottom: 20px;
	font-size: 50px;
	color: white;
}

p.normal{
    font:bold 30px Arial;
	text-align:left;
	padding:150px 30% 40px 30%;
}

p.small{
	font:bold 12px Arial;
	text-align:left;
	padding:200px 10% 40px 10%;
}