
#content{position: fixed; font: 14px Arial; margin:10% 20% 10% 20%; padding: 5px 5px 5px 5px; height: 500px; width:60%; border: 1px solid gray}

#foot{background:red}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
}

body{
	font:12.5px Arial;
}

#introduction{
	text-align: center;
	height:400px;
}

#projects{
	text-align: center;
	background-color: gray;
	height:400px;
}

#experience{
	text-align: center;
	height:400px;
}

heading{
	font: bold 50px Arial;
	/*
	color:red;
	font-family:Arial;
	font-weight:bold;
	font-style:italic;
	font-size:24px;
	*/
}

h1{ /*this is for the main title*/
	font:bold 40px Arial;
	/*padding:10px 80px 30px 2px; top right bottom left */
	/*background-color:gray;*/
	/*border:3px ridge red;*/
}

h2{
	font: bold 18px "Times New Roman";
}

p{
	font:15px Arial;
}

p{line-height: 1.5em}



